*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksells.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.jks
*.keystore
gradle.properties