# IntelliJ / AndroidIDE
*.iml
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/build_file_checksums.ser

# Gradle
.gradle/
/build/
/app/build/
local.properties
gradle.properties
.gradle.properties

# Native build
.externalNativeBuild/
.cxx/

# Captures
/captures/

# macOS
.DS_Store

# Signing files
*.jks
*.keystore

# APK / Bundles
*.apk
*.aab

# Logs
*.log

# AndroidIDE temporary files
*.tmp
*.temperror.txt
log.txt
error.txt
