<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aaditya.mediashrinker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".SplashActivity" android:exported="true" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".OnboardingActivity" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdateVideoActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".PrivacyPolicyActivity" />
        <activity android:name=".HowToUseActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".DonateActivity" />
        <activity android:name=".CompareActivity" />
        <activity android:name=".ResizeActivity" />
        <activity android:name=".FormatConverterActivity" />
        <activity android:name=".MetadataRemoverActivity" />
        <activity android:name=".PdfHistoryActivity" />
        <activity android:name=".StorageAnalyticsActivity" />
        <activity android:name=".ImageInfoActivity" />
        <activity android:name=".PhotoPreviewActivity" />
        <activity android:name=".CustomPhotoPickerActivity" />

        <service
            android:name=".ProcessingService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

    </application>

</manifest>
